body {
  background-color: #000000;
  overflow: hidden;
}

main::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 80vw;
  background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

.character {
  display: none;
  height: 100vh;
}

.character.selected {
  display: block;
}

.character .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  text-align: justify;
  top: 0;
  left: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 30rem;
  z-index: 1;
}

.content .characterName {
  color: #ffffff;
  font-size: 4rem;
  font-family: "Secular One";
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.content .characterDescription {
  color: #ffffff;
  font-family: "Rubik";
  font-size: 1rem;
  line-height: 1.5rem;
}

.content .logo {
  background-image: url("../images/Naruto_logo.svg");
  background-size: cover;
  background-position: center;
  width: 16rem;
  height: 7rem;
  margin-bottom: 2.2rem;
}

.buttons {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 12rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.buttons .button {
  border: none;
  background-color: #000000;
  cursor: pointer;
  border-radius: 50%;
}

.buttons .button img {
  width: 6rem;
  border-radius: 50%;
}

.buttons .button.selected {
  transform: scale(1.2);
  box-shadow: 0 0 0.5rem #d9d9d9;
}
